.linkscontainer{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    
}

.links{
    display: flex;
    flex-direction: row;
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Quattrocento', serif;
    justify-content: space-around;
}

.socialIcons{
    display: flex;
    justify-content: space-around;
}

