@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

/* body {
  margin: 0;
  background-color: #000;
  color: #eee;
  font-family: Poppins, sans-serif;
  font-size: 12px;
} */

/* a {
  text-decoration: none;
} */

/* header {
  width: 1140px;
  max-width: 80%;
  margin: auto;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
}

header a {
  color: #eee;
  margin-right: 40px;
} */

/* === Carousel === */
.carousel {
  height: 100vh;
  width: 100%;
  
  overflow: hidden;
  position: relative;
  background-color: black;
  
}

.carousel .list .item {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
  ;
}

.carousel .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .list .item .content {
  position: absolute;
  top: 20%;
  width: 80%;
  max-width: 80%;

  left: 58%;
  transform: translateX(-50%);
  padding-right: 30%;
  color: #fff;
  
  text-shadow: 0 5px 10px #0004;
}

.carousel .list .item .description {
  font-size: 2rem;
}

.carousel .list .item .author {
  font-weight: bold;
  letter-spacing: 10px;
}

.carousel .list .item .title
{

  font-size: 4em;
  font-weight: bolder;
  line-height: 1.3em;
  margin-bottom: 0.5ch;
  background-color: #000;
  padding-left: 10px;
  padding-right: 10px;
  padding: 2px;
  width: fit-content; 
}

.carousel .list .item .topic {
  color: #f1683a;
}



.carousel .list .item  button {
  border: none;
  font-size: 1.8rem;
  margin-top: 1ch;
  color: white;
  padding: 10px;
  padding-right: 10px;
  padding-left: 10px;
  background-color: black;
  
  font-family: Poppins;
  
  font-weight: 500;
}

.carousel .list .item button a{
  text-decoration: none;
  color: white;
}

.carousel .list .item .buttons button:nth-child(2) {
  background-color: transparent;
  border: 1px solid #fff;
  color: #eee;
}

/* === Thumbnail === */
.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50%;
  display: flex;
  gap: 20px;
  z-index: 100;
}

.thumbnail .item {
  width: 150px;
  height: 220px;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.thumbnail .item .content {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.thumbnail .item .content .title {
  font-weight: 500;
}

.thumbnail .item .content .description {
  font-weight: 300;
  flex-direction: column;
  display: flex;
  

}

/* === Arrows === */
.arrows {
  position: absolute;
  top: 80%;
  right: 52%;
  display: flex;
  gap: 10px;
  z-index: 200;
}

.arrows button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: black;
  border: none;
  color: #fff;
  font-weight: bold;
  transition: 0.5s;
}

.arrows button:hover {
  background-color: #fff;
  color: #000;
}

/* === Animations === */
.carousel .list .item:nth-child(1) {
  z-index: 1;
}

/* Animation for first item */
.carousel .list .item:nth-child(1) .content * {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 1s linear forwards;
}

@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}

.carousel.next .list .item:nth-child(1) img {
  width: 150px;
  height: 220px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  border-radius: 30px;
  animation: showImage 0.5s linear forwards;
}

@keyframes showImage {
  to {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}

.carousel.next .thumbnail {
  animation: effectNext 0.5s linear forwards;
}

@keyframes effectNext {
  from {
    transform: translateX(150px);
  }
}

/* Running time bar */
.carousel .time {
  position: absolute;
  z-index: 1000;
  width: 0%;
  height: 3px;
  background-color: #f1683a;
  left: 0;
  top: 0;
}

.carousel.next .time,
.carousel.prev .time {
  animation: runningTime 3s linear forwards;
}

@keyframes runningTime {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

/* === Number Ticker === */
.ticker-wrapper {
  border: 1px solid white;
  position: absolute;
  width: 80vw;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
}

@media screen and (max-width: 678px) {
  .carousel .list .item .content {
    padding-right: 0;
    left: 48%;
  }

  
  .carousel .list .item .title {
    font-size: 30px;
  }
  .thumbnail {
    bottom: 20px;
    gap: 10px;
  }

  .carousel .list .item .content .description{
    display: none;
  }

  .thumbnail .item {
    width: 100px;
    height: 150px;
  }
  .arrows {
    top: 85%;
    right: 65%;
  }

  .carousel .list .item {
    justify-content: center;
  }

  .carousel {
    width: 100%;
  }
}

@media screen and (min-width:768px) {

  .carousel .list .item .content .description{
    display: flex;
  }

  
}


