.container{
    height: 300vh;
    position: relative;
    background-color: #001514;
    .sticky{
        position: sticky;
        overflow: hidden;
        top: 0;
        height: 100vh;

        .el{
            width: 100%;
            height: 100%;
            top: 0;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            .imageContainer{
                position: relative;
                width: 25vw;
                height: 25vh;
                img{
                    object-fit: cover;
                }
            }
            &:nth-of-type(2){
                .imageContainer{
                    top: -30vh;
                    left: 5vw;
                    width: 35vw;
                    height: 30vh;
                }
            }
            &:nth-of-type(3){
                .imageContainer{
                    top: -10vh;
                    left: -25vw;
                    width: 20vw;
                    height: 45vh;
                }
            }
            &:nth-of-type(4){
                .imageContainer{
                    left: 27.5vw;
                    width: 25vw;
                    height: 25vh;
                }
            }
            &:nth-of-type(5){
                .imageContainer{
                    top: 27.5vh;
                    left: 5vw;
                    width: 20vw;
                    height: 25vh;
                }
            }
            &:nth-of-type(6){
                .imageContainer{
                    top: 27.5vh;
                    left: -22.5vw;
                    width: 30vw;
                    height: 25vh;
                }
            }
            &:nth-of-type(7){
                .imageContainer{
                    top: 22.5vh;
                    left: 25vw;
                    width: 15vw;
                    height: 15vh;
                }
            }
        }
    }
}

.overlayText {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 1rem;
    
    padding: 1rem 2rem;
    
    backdrop-filter: blur(20px) saturate(120%);
  background: rgba(0, 21, 20, 0.75);
  border: 1px solid rgba(240, 233, 223, 0.15);
    transition: opacity 0.3s ease-in-out;
}

.overlayText h2{
    font-size: 0.4rem;
    font-family: 'Quattrocento', serif;
    font-weight: 200;
}

.overlayText h1{
    font-size: 0.6rem;
    font-family: 'Abril Fatface', serif;
}

.overlayText button{
    background: #E27396;
  color: #F0E9DF;
  font-family: 'Abril Fatface', serif;
  border: 1px solid #E27396;
  font-size: 0.5rem;
  
  &:hover {
    background: transparent;
    color: #E27396;
    border: 1px solid #E27396;
    transform: translateY(-1px);
  }
}

