@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&display=swap');

/* Local Moniqa Fonts */
@font-face {
  font-family: 'Moniqa-Paragraph';
  src: url('/fonts/Moniqa-MediumParagraph.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Moniqa-Heading';
  src: url('/fonts/Moniqa-MediumHeading.ttf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

/* Default body styles */
body {
  margin: 0;
  background-color: #F0E9DF;
 
  color: #f4ede7;
}
